
body {
font-weight:normal;
}

h1, h2, h3, h4, h5, h6 { 
font-weight:normal;
}

#logo {
margin:20px 0 5px 10px
}

#searchform input {
 background-color:#FFF;
 background-image:none;
 color:#888;
 border-color:#AAA;
}

#credits {
 text-align:left;
}

#navpanel a {
color:#AAA;
}
#navpanel a:visited {
color:#CCC;
}
#navpanel a:hover {
color:#FC0;
}
#navpanel .cat {
font-size:smaller
}

#navpanel li {
font-weight:normal;
}

.navbar-nav li a {
padding:10px;
}

#pageoptions li a:hover {
text-decoration:none;
}

.acts img, .editacts img {
height:16px;
}

@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
 #logo{float:none}
 #controls {top:auto}
} 

